@use '../App.scss';

//front commen ui

$titlePadding : 15px 10px;
$titleSize : 28px;
$titleWeight : 800;
$subTitleSize : 24px;
$subTitleWeight : 600;

$letterspacing : 1px;

//front Ui pingifbulk light

$primaryLight : #c1f7e4;
$colorLight : black;
$headerLight : #7df0c7;
$contentArea: #fff;

//front ui pingifbulk dark

$primaryDark : #314c5e;
$colorDark : #fff;
$headerDark : #0c2536;
$contentAreaDark: #15364d;

//common color

$modeColor : #979a9c;

.Dashboard {
    width : 100%;
    display: flex;
    min-height: 90vh;

    .signPart {
        width: 100%;
    }
}

.mainContent {
    width: 80%;
    margin: 8px 8px;
    border-radius: 4px;
    min-height: 90vh;
}

.settings {
    padding: 10px 5px;
    font-weight: 600;
    // text-decoration: underline;
    font-size: 20px;
    color: $modeColor;
}

.sidebarMain {
    width: 20%;
    min-height: 90vh;
    margin-top: 8px;
    padding-top: 10px;
    padding-left: 10px;

    a {
        text-decoration: none;
    }

    .sideBarMenu {
        text-decoration: none;
        width : 100%;
        padding: 10px 8px;
        cursor: pointer;
        margin-top: 2px;
        font-weight: 600;
        letter-spacing: 1px;
    }
}

tr td,th {
    cursor: pointer;
}

.button-submit {
    padding: 6px 30px;
    border-radius: 6%;
    border: none;
    outline: none;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 10px;
}

.App-light {
    .sidebarMain {
        background-color: $headerLight;
        a {
            color : $colorLight;
        }

        .sideBarMenu {

            .active {
                background-color: $contentArea;
            }

            &:hover {
                background-color: $contentArea;
            }
        }
    }

    .table-header {
        background-color: $headerLight;
        color : $colorLight;
    }

    .mainContent {
        background-color: $contentArea;
    }

    .button-submit {
        background-color: $headerLight;
        color : $colorLight;

        // &:hover {
        //     background-color: $contentArea;
        // }
    }

    .button-cancel {
        opacity: 8;
    }
}

.App-dark{
    .sidebarMain {
        background-color: $headerDark;
        a {
            color : $colorDark;
        }

        .sideBarMenu {

            .active {
                background-color: $contentAreaDark;
            }

            &:hover {
                background-color: $contentAreaDark;
            }
        }
    }

    .button-submit {
        background-color: $headerDark;
        color : $colorDark;

        // &:hover {
        //     background-color: $contentAreaDark;
        // }
    }

    .button-cancel {
        opacity: 8;
    }

    .table-header {
        background-color: $headerDark;
        color : $colorDark;
    }

    // tr td {
    //     color : $colorDark;
    // }

    .mainContent {
        background-color: $contentAreaDark;
    }
}
