//front commen ui

$titlePadding : 15px 10px;
$titleSize : 28px;
$titleWeight : 800;
$subTitleSize : 24px;
$subTitleWeight : 600;

$letterspacing : 1px;

//front Ui pingifbulk light

$primaryLight : #d3d8db;
$colorLight : black;
$headerLight : #ebf4fa;
$contentArea: #fff;

//front ui pingifbulk dark

$primaryDark : #314c5e;
$colorDark : #fff;
$headerDark : #0c2536;
$contentAreaDark: #15364d;

//common color

$modeColor : #979a9c;

body{
    margin : 0px;
    padding : 0px;
}

h1,h2,h3,h4,h5,h6{
    margin : 0px;
    padding : 0px;
}

.Header .headCont{
    margin: 0px 15px;
    width: 97%;
}

.routeButton {
    padding : 8px 25px;
    text-align: center;
    border-radius: 20px;
    width: auto;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 10px;
}

//@light mode

.App-light{
    width : 100%;
    min-height : 700px;
    background-color: $primaryLight;
    color : $colorLight;

    .Header{
        width : 100%;
        height : 60px;
        background-color : $headerLight;
        display: flex;

        .startButton{
            padding : 4px 20px 6px 20px;
            text-align: center;
            text-transform: uppercase;
            vertical-align: center;
            border-radius: 20px;
            height : 35px;
            margin: 5px 10px;
            letter-spacing: $letterspacing;
            color : $colorLight;
            border : 1px solid $colorLight;
            background-color : $headerLight;
            text-decoration: none;
            outline: none;
        }

        a{
            color : $colorLight;
        }

        .startButton:hover{
            color : $colorDark;
            border : 1px solid $colorDark;
            background-color : $headerDark;
        }
    }

    .footer_disp{
        width : 100%;
        background-color : $headerLight;
        color : $colorLight;
    }

    .signCart{
        background-color: $headerLight;
    }

    .routeButton {
        background-color: $headerLight;
        color: $colorLight;
    }
}



//@dark mode

.App-dark{
    width : 100%;
    min-height : 700px;
    background-color: $primaryDark;
    color : $colorDark;

    .Header{
        width : 100%;
        height : 60px;
        background-color : $headerDark;

        .startButton{
            padding : 4px 20px 6px 20px;
            text-align: center;
            text-transform: uppercase;
            vertical-align: center;
            border-radius: 20px;
            height : 35px;
            margin: 5px 10px;
            letter-spacing: $letterspacing;
            text-decoration: none;
            color : $colorDark;
            border : 1px solid $colorDark;
            background-color : $headerDark;
            outline: none;
            float:right;
        }

        a{
            color : $colorDark;
        }

        .startButton:hover{
            color : $colorLight;
            border : 1px solid $colorLight;
            background-color : $headerLight;
        }
    }

    .footer_disp{
        width : 100%;
        background-color : $headerDark;
        color : $colorDark;
    }

    .signCart{
        background-color: $headerDark;
    }

    .routeButton {
        background-color: $headerDark;
        color: $colorDark;
    }
}

//common 

.logoTitle{
    padding : 10px 10px;
    font-size: $titleSize;
    font-weight: $titleWeight;
    letter-spacing: $letterspacing;
    text-decoration: none;
}

.secondColumn{

    margin-top: 10px;
    display : flex;

    .modeView{
        padding-top: 10px;
        font-size : 14px;
        letter-spacing: $letterspacing;
        color : $modeColor;
        cursor: pointer; 
        margin : 0px 15px;
        margin-left: 40%;
    }

    .homeBack{
        text-decoration: none;
        padding-top: 10px;
        font-size : 14px;
        letter-spacing: $letterspacing;
        color : $modeColor;
        cursor: pointer; 
        margin : 0px 15px;
    }
}

.mid{
    min-height: 800px;
    width: 100%;

    .temp{
        margin-top: 300px;
        text-align: center;
        font-size : 30px;
        letter-spacing: $letterspacing;
    }
}

.copyright{
    text-align: center;
    padding:15px;
    letter-spacing: $letterspacing;
    margin : 0px !important;
}

.signCart{
    width:30%;
    padding : 60px 30px;
    margin : 120px auto 240px auto;
    border-radius: 10px;

    h1{
        text-align: center;
        font-size: 25px;
        font-weight: 800;
        letter-spacing: $letterspacing;
    }

    label{
        margin : 10px 0px;
        letter-spacing: $letterspacing;
    }

    .formSet{
        margin : 20px 0px;
    }

    .button_class{
        margin-top: 15px;
        background-color: $modeColor;
        padding: 10px;
    }

    .signData{
        padding : 10px 0px;
        
        a{
            text-decoration: none;
            color : $modeColor;
        }
    }
}

@import './style/layout.scss';